
h2{
    text-align: center;
    font-style: italic;
    font-size: 30px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: inherit;
    text-align: justify;

}


.contenedor{
    width: 90%;
    background-color: white;
    margin: auto;
}
.principal{
    display: flex;
    justify-content:space-between;
   
}
.noticias{
    width: 30%;
    
    

}
img{
    width: 100%;
    border: 2px black solid;

}
.ppie{
    text-align: center;
    width: 100%;
}
.pie p{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.pie{
    background-color: #69e465;
   
}
#titulo{
    width: unset;
    border: none;
    position: static;
   display: block;
   margin-right: auto;
   margin-left: auto;
    
}

.header {
    background: #69e465;
    padding: 3rem 0;
    position: unset;
}

.comillas{
    font-style: italic;
    font-weight: bold;
}

